@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: .15s ease-in-out;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
  margin-block: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(37, 37, 37), rgb(227, 225, 225));
  border-radius: 6px;
}